$colors: (
    primary: #007bff,
    secondary: #6c757d,
    success: #28a74e,
    info: #17a2b8,
    warning: #ffc107,
    danger: #dc355f,
    light: #f8f9fa,
    dark: #2e2f3e
);

// $breakpoints: (
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px
// );

$breakpoints: (
    sm: 0px,
    md: 576px,
    lg: 768px,
);

body {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

@mixin main($size, $direction: row) {
    $padd: 6px;
    @if $size == sm {
        $padd: 2px;
        padding: $padd;
        gap: $padd;
    } @else if $size == md {
        $padd: 4px;
        padding: $padd;
        gap: $padd;
    } @else if $size == lg {
        $padd: 6px;
        padding: $padd;
        gap: $padd;
    }
    flex-direction: $direction;
    display: flex;
    align-items: center;
    width: calc(100% - 2 * $padd);
    height: calc(100vh - 2 * $padd);
    justify-content: center;
}

@mixin block($size, $w, $h, $nopad: 'false', $direction: row) {
    $padd: 6px;
    @if $size == sm {
        $padd: 2px;
        padding: $padd;
        gap: $padd;
    } @else if $size == md {
        $padd: 4px;
        padding: $padd;
        gap: $padd;
    } @else if $size == lg {
        $padd: 6px;
        padding: $padd;
        gap: $padd;
    }
    @if $nopad == 'nopad' {
        $padd: 0px;
        padding: $padd;
    }
    flex-direction: $direction;
    width: calc(($w * 10%) - 2 * $padd);
    height: calc(($h * 10%) - 2 * $padd);
    display: flex;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease;
}

@each $breakpoint, $size in $breakpoints {
    @media (min-width: $size) {
        .main-#{$breakpoint}-column {
            @include main($breakpoint, column);
        }
        .main-#{$breakpoint} {
            @include main($breakpoint);
        }
        @for $i from 1 through 10 {
            @for $j from 1 through 10 {
                .block-#{$breakpoint}-#{$i}-#{$j}-nopad {
                    @include block($breakpoint ,$i, $j, 'nopad');
                }
                .block-#{$breakpoint}-#{$i}-#{$j} {
                    @include block($breakpoint ,$i, $j);
                }
                .block-#{$breakpoint}-#{$i}-#{$j}-nopad-column {
                    @include block($breakpoint ,$i, $j, 'nopad', column);
                }
                .block-#{$breakpoint}-#{$i}-#{$j}-column {
                    @include block($breakpoint ,$i, $j, 'false', column);
                }
            }
        }
    }
}

@each $name, $color in $colors {
    .#{$name} {
        background-color: $color;
    }
}